# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [4]:
var1 = 5
var2 = 5
print(id(var1))
print(id(var2))

139732285391216
139732285391216

Змінні посилаються на один об'єкт в пам'яті через те, що числа в діапазоні від -5 до 256 зберігаються в одному екземплярі для зменшення витрат по пам'яті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [6]:
var3 = True
print(isinstance(var3, bool))
print(isinstance(var3, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [7]:
var4 = 4
var5 = 5.5
sum = var4 + var5
substract = var4 - var5
div = var4 / var5
mult = var4 * var5
div_floor = var5 // var4
mod = var5 % var4
pow = var4 ** var5
print(sum)
print(substract)
print(div)
print(mult)
print(div_floor)
print(mod)
print(pow)

9.5
-1.5
0.7272727272727273
22.0
1.0
1.5
2048.0

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [8]:
cast_float_to_int = int(var5)
print(cast_float_to_int)
bool_var = True
cast_bool_to_int = int(bool_var)
print(cast_bool_to_int)

5
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [9]:
empty_str1 = ''
empty_str2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [14]:
str1 = '\''
print(str1)
str2 = r"'"
print(str2)

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [16]:
my_surname = "Blyzniuk"
formatted_str = f"My surname is {my_surname}"
print(formatted_str)

My surname is Blyzniuk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [19]:
str3 = "My dog is crazy."
split_list = str3.split(' ')
print(split_list)

['My', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [20]:
list1 = [1, 2, 3]
list2 = list()
print(len(list1))

3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [21]:
list3 = [1, 2, 3]
list4 = [4, 5, 6]
list3.append(list4)
print(list3)

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [22]:
list5 = [[1, 2, 3],
         [True, False],
         [3.5, 1.1, 5.3]]
print(list5[-1][0])

3.5

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [25]:
list6 = [1, 2, 3, 4.5, 5.7, True, [1, 2], False, (5, 6), 'qwe']
list7 = list6[2:-2]
print(list7)

[3, 4.5, 5.7, True, [1, 2], False]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [26]:
single_tuple = (5,)
isinstance(single_tuple, tuple)

True

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список: працюємо та створюємо через [], може змінюватись, повільний. Слід використовувати коли дані можуть змінюватись, ми не знаємо їх кількість або вона змінна

Кортеж: створюємо через (), незмінний, працює швидко. Слід використовувати коли ми точно знаємо кількість даних, вони незмінні та потребують шидкодії

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [32]:
tuple1 = (1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 1.0, 1.11)
tuple2 = tuple1[::-2]
print(tuple2)

(1.11, 9.9, 7.7, 5.5, 3.3, 1.1)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [34]:
set1 = set()
set1.add(1)
set1.add(2)
set1.add(3)
set1

{1, 2, 3}

У блоці, щол написаний вище, до вже створеної множини додються нові елементи, тому він є змінним.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [37]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Оскільки Set - це математична множина, в ньому не може бути однакових елементів, відповідно, при створенні множини зі списку, дубльовані елементи зникли

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [40]:
set2 = {1, 2, 3, 4}
set3 = {3, 4, 5}
union = set2.union(set3)
difference = set2.difference(set3)
intersetion = set2.intersection(set3)
symmetric_difference = set2.symmetric_difference(set3)
print(union)
print(difference)
print(intersetion)
print(symmetric_difference)

{1, 2, 3, 4, 5}
{1, 2}
{3, 4}
{1, 2, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [49]:
dict1 = dict()
dict1[1] = 'one'
dict1['two'] = 2
dict1[False] = True
dict1[1.5] = 1
print(dict1)

{1: 'one', 'two': 2, False: True, 1.5: 1}

Списки не можуть бути ключем у словнику, через те, що вони є змінними і відповідно не можуть бути хешованими (при зміні списку, має змінитися його хеш)

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [51]:
outer_dict = {
    "number" : 1,
    "float" : 5.3,
    "dict" : {
        "data" : "hello",
        "URL" : "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        "info" : {
            "msg" : "Haha, got ya",
            "num" : 2024
        }
    }
}
print(outer_dict["dict"]["info"])
print(outer_dict["dict"]["info"]["msg"])

{'msg': 'Haha, got ya', 'num': 2024}
Haha, got ya

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.